.top-cover {
  background: url("./images/branch.png") no-repeat;
  background-size: cover;
  min-height: 50vh;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
  justify-content: center;
}
