main {
  min-height: 100vh;
  .m-container {
    .type-of-event {
      width: 50%;
      box-shadow: 3px 3px 16px rgba(2, 25, 89, 0.06);
      border-radius: 20px;
      @media screen and (max-width: 991px) {
        display: none !important;
      }
      @media screen and (max-width: 1100px) {
        width: 70%;
      }
      margin: 0 auto;
      overflow: hidden;
      border-radius: 10px;
      .button {
        flex: 1;
        transition-duration: 0.5s;
        background: #ffffff;
        border: 0 !important;
        outline: 0 !important;
        font-size: 18px;
        padding: 0.5rem 1rem;
        text-align: center;
        transition: ease-in-out;
        transition-duration: 0.5s;
        transition-property: background color;
      }
      .purple {
        background: #030ce0;
        color: white;
        animation: move 0.5s linear alternate;
        @keyframes move {
          from {
            transform: translateY(-100%);
          }
          to {
            transform: translateX(0%);
          }
        }
      }
    }
    .type-of-event-min {
      @media screen and (min-width: 991px) {
        display: none;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        border-radius: 10px;
        overflow: hidden;
        animation: moves 0.5s linear alternate;
        @keyframes moves {
          from {
            transform: scale(0, 0);
          }
          to {
            transform: scale(1, 1);
          }
        }
        li {
          display: flex;
          gap: 2rem;
          align-items: center;
          background: #ccceff;
          transition: all 0.5s ease-in;
        }
        .controller {
          background: #030ce0;
          color: white;
          font-weight: bolder;
        }
        .purple {
          background: #030ce0;
          color: white;
        }
      }
    }
    .events-wrap {
      .events {
        min-height: 408px;
        border: 0;
        .event {
          background: url("./images/Rectangle 27.png") no-repeat;
          background-size: cover;
          border: 0;
          overflow: hidden;
          &:hover {
            .content {
              transform: translateY(0);
              .hide {
                visibility: visible;
              }
            }
          }
          .content {
            transform: translateY(60%);
            background: rgba(204, 206, 255, 0.67);
            backdrop-filter: blur(33px);
            border-radius: 10px;
            height: inherit;
            transition: all 1s ease-in-out;
            .hide {
              transition-duration: 0.1s;
              transition-delay: 0.5s;
              transition-property: visibility;
              visibility: hidden;
            }
          }
        }
      }
    }
  }
  .our-location {
    position: relative;
    // overflow: hidden;
    &-wrap {
      gap: 3rem;
      img {
        right: 0;
        top: 0;
        z-index: -1;
        position: absolute;
        transform: translate(0, -50%);
      }
      .left {
        flex: 1;
        &-address {
          gap: 3rem;
          &-main {
            flex: 1;
            display: flex;
            gap: 1rem;
          }
        }
      }
      .right {
        flex: 1;
      }
    }
  }
}
