$poppins: "Poppins", sans-serif;
$montserrat: "Montserrat", sans-serif;
$warning: #f66700;
$primary: #030ce0;
$info: #030ce0;
$muted: #595757;
$rhap_theme-color: #030ce0 !default; // Color of all buttons and volume/progress indicators
$rhap_background-color: #fff !default; // Color of the player background
$rhap_bar-color: #ccceff !default; // Color of volume and progress bar
$rhap_time-color: #333 !default; // Font color of current time and duration
$rhap_font-family: inherit !default; // Font family of current time and duration
